<component name="ArtifactManager">
  <artifact type="war" name="springsecurityexam:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="secure-exam.war">
      <element id="artifact" artifact-name="springsecurityexam:war exploded" />
    </root>
  </artifact>
</component>